body, html{
  height: 100%;
}
.input-file {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  z-index: 22;
  left: 0;
  top: 0;
  width: 230px;
  height: 70px;
  display: block;
}
.buttons{
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.input-label {
  position: relative;
  color: white;
  font-size: 24px;
  background: rgb(0, 200, 0);
  border-radius: 10px;
  width: 200px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
}

.download-btn {
  cursor: default;
  text-decoration: none;
  margin-left: 20px;
  position: relative;
  color: white;
  font-size: 24px;
  background: rgba(25, 25, 25, 0.250);
  border-radius: 10px;
  width: 200px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
}

.download-btn.download-btn-active {
  cursor: pointer;
  background: rgb(0, 200, 0);
}
